body{
    margin: 0;
    padding: 0;
    min-height: 110vh;
    background-image: linear-gradient(to right,#F8AE26,#EB582B, #EB582B);
}

header{
    height: 40vh;
    margin: 2% 5% 0% 5%;
}

.logo:hover .ef-show-flag {
    animation-name: flag;
    animation-duration: 0.5s;
}
.logo:hover .ef-show-star {
    animation-name: star;
    animation-duration: 0.5s;
}

@keyframes flag {
    0%{
        transform: translateY(30%);
        opacity: 1
    }

    100%{
        transform: translateY(0px);
        opacity: 1
    }
}
@keyframes star {
    0%{
        transform: translateY(30%);
        opacity: 1
    }

    50%{
        transform: translateY(30%);
        opacity: 1
    }

    100%{
        transform: translateY(0px);
        opacity: 1
    }
}

.shadow-c{
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.75);
}

.banner{
    position: relative;
    background-color: white;
    margin: auto;
    width: 100%;
    height: 100%;
    border-radius: 25vh;
}

.btn-c{
    position: absolute;
    background-color: #F8AE26;
    border: none;
    border-radius: 5px;
}

.content{
    background-color: darkgrey;
    margin: 5%;
    min-height: 60vh;
}

.navbar-c{
    margin-bottom: 20px;
}
.posts{
    width: 90%;
    transform: translate(5%, 0);
}
.post{
    position: relative;
    margin: 5px 0px 5px 0px;
    width: 100%;
    height: 300px;
    border-radius: 4vh 4vh 0vh 4vh;
    background-color: cornsilk;
}
.head-post{
    text-align: end;
    position: absolute;
    right: 5%;
    top: 5%;
}
.title-post{
    font-weight: bold;
    margin: 0px;
}
.date-post{
    font-style: italic;
    margin: 0px;
}
.like-post{
    position: absolute;
    margin: 0px;
    right: 10px;
    bottom: 10px;
}
.img-post{
    border-radius: 1vh;
}
.btn-add{
    position: relative;
    margin: 10px 0px 15px 0px;
    left: 50%;
    transform: translate(-50%, 0);
}

footer{
    position: absolute;
    background-color: white;
    margin: 0% 5% 2% 5%;
    width: 90%;
}











/* Dành cho màn hình width > height */
@media all and (orientation: landscape) {
    .logo{
        position: absolute;
        height: 90%;
        width: 45%;
        top: 50%;
        left: 5%;
        transform: translate(0, -50%);
    }
    .btn-c{
        width: 100px;
        height: 30px;
        top: 50%;
        right: 25%;
        transform: translate(25%, -50%);
    }
    .head-post{
        width: 50%;
        font-size: larger;
    }
    .img-post{
        max-width: 40%;
        max-height: 90%;
        position: absolute;
        left: 5%;
        top: 50%;
        transform: translateY(-50%);
    }
    .content-post{
        width: 48%;
        position: absolute;
        top: 50%;
        right: 5%;
    }
    footer{
        height: 15vh;
    }
    .footer-left{
        position: absolute;
        width: 50%;
        max-height: 100%;
        text-align: right;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
    }
    .footer-right{
        font-size: larger;
        position: absolute;
        width: 50%;
        text-align: left;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
    }
}
/* Dành cho màn hình width < height */
@media all and (orientation: portrait) {
    .logo{
        position: absolute;
        width: 75%;
        max-height: 50%;
        top: 15%;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .btn-c{
        width: 150px;
        height: 45px;
        font-size: larger;
        bottom: 10%;
        left: 50%;
        transform: translate(-50%, -10%);
    }
    .head-post{
        width: 40%;
        font-size: medium;
    }
    .img-post{
        max-width: 50%;
        max-height: 50%;
        position: absolute;
        top: 30%;
        left: 5%;
        transform: translate(0, -50%);
    }
    .content-post{
        width: 90%;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, 0);
    }
    footer{
        height: 20vh;
    }
    .footer-left{
        position: absolute;
        max-width: 100%;
        max-height: 50%;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .footer-right{
        font-size: smaller;
        margin: 0px;
        position: absolute;
        width: 100%;
        text-align: center;
        top: 75%;
        transform: translate(0, -50%);
    }
}