body{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   overflow: hidden;
}
 
.content{
   position: absolute;
   display: flex;
   align-items: center;
   width: 100%;
   height: 100vh;
   background-image: linear-gradient(to bottom right,#F8AE26,#EB582B, #EB582B);
}

.heart{
   background-image: url("../img/heart.svg");
   position: absolute;
   bottom: -150px;
   animation: heart 20s infinite linear;
}
.heart:nth-child(1){
   width: 60px;
   height: 60px;
   left: 86%;
   animation-delay: 0s;
}
.heart:nth-child(2){
   width: 100px;
   height: 100px;
   left: 12%;
   animation-delay: 1.5s;
   animation-duration: 9s;
}
.heart:nth-child(3){
   width: 72px;
   height: 72px;
   left: 50%;
   animation-delay: 0s;
   animation-duration: 20s;
}
.heart:nth-child(4){
   width: 150px;
   height: 150px;
   left: 72%;
   animation-delay: 1.5s;
   animation-duration: 15s;
}

.logo:hover .ef-show-flag {
   animation-name: flag;
   animation-duration: 0.5s;
}
.logo:hover .ef-show-star {
   animation-name: star;
   animation-duration: 0.5s;
}

@keyframes heart {
   0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1
   }

   100%{
      transform: translateY(-900px) rotate(360deg);
      opacity: 1
   }
}
@keyframes flag {
   0%{
      transform: translateY(30%);
      opacity: 1
   }

   100%{
      transform: translateY(0px);
      opacity: 1
   }
}
@keyframes star {
   0%{
      transform: translateY(30%);
      opacity: 1
   }

   50%{
      transform: translateY(30%);
      opacity: 1
   }

   100%{
      transform: translateY(0px);
      opacity: 1
   }
}

.banner{
   position: relative;
   background-color: white;
   margin: auto;
   width: 90%;
   height: 40%;
   border-radius: 25vh;
   box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.75);
}

.btn-c{
   position: absolute;
   background-color: #F8AE26;
   border: none;
   border-radius: 5px;
}

/* Dành cho màn hình width > height */
@media all and (orientation: landscape) {
   .logo{
      position: absolute;
      height: 90%;
      width: 45%;
      top: 50%;
      left: 5%;
      transform: translate(0, -50%);
   }
   .btn-c{
      width: 100px;
      height: 30px;
      top: 50%;
      right: 25%;
      transform: translate(25%, -50%);
   }
}
/* Dành cho màn hình width < height */
@media all and (orientation: portrait) {
   .logo{
      position: absolute;
      width: 75%;
      max-height: 50%;
      top: 15%;
      left: 50%;
      transform: translate(-50%, 0);
   }
   .btn-c{
      width: 150px;
      height: 45px;
      font-size: larger;
      bottom: 10%;
      left: 50%;
      transform: translate(-50%, -10%);
   }
}

